@font-face {
    font-family: 'Pokemon Hollow';
    src: local('Pokemon Hollow'), url(./fonts/Pokemon\ Hollow.ttf) format('truetype');
  }
  
@font-face {
      font-family: 'Pokemon Solid';
      font-weight: 900;
      src: local('Pokemon Solid'), url(./fonts/Pokemon\ Solid.ttf) format('truetype');
  }

@font-face {
    font-family: 'Pokemon Solid';
    font-weight: 300;
    src: local('Pokemon Solid'), url(./fonts/Pokemon\ Solid.ttf) format('truetype');
}
  
@font-face {
      font-family: 'Pokemon Hollow';
      font-weight: 700;
      src: local('Pokemon Hollow'), url(./fonts/Pokemon\ Hollow.ttf) format('truetype');
  }